<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find ares_description)/urdf/ares_laser.xacro" /> 

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ares_description)/config/ares_urdf.rviz" required="true" />
</launch>
